div.search{
    margin-left: auto;
    margin-right: auto;
    width:570px;
}

div.drop-down{
    width:570px;
    border: 1px solid #ccc;
    /* border-top-width: 0px; */
    border-radius: 0px 0px 18px 18px;

}

img.img{
    height: 28px;
}

div.img{
    height:28px;
    width:28px;
    padding:6px;
    margin-top:-40px;
    margin-left:520px;
    cursor: pointer;
}

input.search3{
    border: 1px solid #ccc;
    border-radius:18px 18px 0px 0px;
    border-bottom-width: 0px;
}
input.search2{
    border: 1px solid #ccc;
    border-radius: 18px;
    border-bottom-width: 1px;
}
input.search {
    width: 500px;
    height: 40px;
    outline: none;
    
    padding-left: 20px;
    padding-right:50px;
    font-size:15px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

ul.ul{
    flex: auto;
    padding-bottom: 0px;
    padding-left: 0px;
}

li.li{
    /* padding: 0px 16px; */
    line-height: 22px;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.bli{
    background-color: #eee;
}